<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NASDAQ Scraper</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <center>
    <h1>NASDAQ Scraper</h1>
    <h3>Enter your company symbols below to recieve text notifications on their status.</h3>
  </center>
  <div id="companysymbol">
    <form action = "/" method = "POST"> <!-- sends post request to app.rb so they can be passed to final.rb -->
      Company Symbol: <input type="text" name="companysymbol1"><br>
      Company Symbol: <input type="text" name="companysymbol2"><br>
      Company Symbol: <input type="text" name="companysymbol3"><br>
      Company Symbol: <input type="text" name="companysymbol4"><br>
      Company Symbol: <input type="text" name="companysymbol5"><br>
      Company Symbol: <input type="text" name="companysymbol6"><br>
      Company Symbol: <input type="text" name="companysymbol7"><br>
      Company Symbol: <input type="text" name="companysymbol8"><br>
      Company Symbol: <input type="text" name="companysymbol9"><br>
      Company Symbol: <input type="text" name="companysymbol10"><br>
      Company Symbol: <input type="text" name="companysymbol11"><br>
      Company Symbol: <input type="text" name="companysymbol12"><br>
      Company Symbol: <input type="text" name="companysymbol13"><br>
      Company Symbol: <input type="text" name="companysymbol14"><br>
      Company Symbol: <input type="text" name="companysymbol15"><br>
      <center><input type="submit" value="Submit"></center>
    </form>
  </div>
  
</body>
</html>