<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NASDAQ Scraper</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="headers">
    <h1>NASDAQ Scraper</h1>
  </div>
    <h3>Enter your company symbols below to recieve text notifications on their status.</h3>
  <div id="inputbox">
    <form action = "/" method = "POST"> <!-- sends post request to app.rb so they can be passed to final.rb -->
      Company Symbol: <input type="text" id="textbox" name="companysymbol1"><br>
      Company Symbol: <input type="text" id="textbox" name="companysymbol2"><br>
      Company Symbol: <input type="text" id="textbox" name="companysymbol3"><br>
      Company Symbol: <input type="text" id="textbox" name="companysymbol4"><br>
      Company Symbol: <input type="text" id="textbox" name="companysymbol5"><br>
      Company Symbol: <input type="text" id="textbox" name="companysymbol6"><br>
      Company Symbol: <input type="text" id="textbox" name="companysymbol7"><br>
      Company Symbol: <input type="text" id="textbox" name="companysymbol8"><br>
      Company Symbol: <input type="text" id="textbox" name="companysymbol9"><br>
      Company Symbol: <input type="text" id="textbox" name="companysymbol10"><br>
      <!-- Company Symbol: <input type="text" id="textbox" name="companysymbol11"><br>
      Company Symbol: <input type="text" id="textbox" name="companysymbol12"><br>
      Company Symbol: <input type="text" id="textbox" name="companysymbol13"><br>
      Company Symbol: <input type="text" id="textbox" name="companysymbol14"><br>
      Company Symbol: <input type="text" id="textbox" name="companysymbol15"><br> -->
      
      <p>&nbsp;&nbsp;&nbsp;&nbsp;Phone Number: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Substantial Drop:</p>
      <input type="text" id="textbox" name="usernumber" class="phonenumber">
      <input type="text" id="textbox" name="subdrop" value="(percentage)" class="subdrop" onblur="if(this.value=='')this.value='(percentage)';" onfocus="if(this.value=='(percentage)')this.value='';"/><br> <!-- all of this clears the textbox on-click -->
      <center><p><input type="checkbox" id="agreeCheckbox" name="agreeCheckbox" value="agreeCheckbox" onchange="toggleLink(this);">Recieve text updates every:</p></center>
      
      <div id="recieveUpdates?" style="display:none;">
        <center>
          <input type="radio" name="time" value="Hour" id="radio">Hour
          <input type="radio" name="time" value="Day" id="radio">Day
        </center>
      </div>

      <center><input type="submit" value="Submit" id="button"></center>

    </form>

  </div>

  <script type="text/javascript">
      function toggleLink(checkBox) {
        var time = document.getElementById("recieveUpdates?");

        if (checkBox.checked)
            time.style.display = "inline";
        else
            time.style.display = "none";
      }
  </script>


  
</body>
</html>